/* global styles  */
* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 16px;
    min-height: 100vh;
    background-color: gray;
    color: white;
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  /* element styles */
  h1 {
    font-size: 3.5rem;
  }
  
  h2 {
    font-size: 1.7rem;
  }
  
  /* headings */
  header {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
  }
  
  /* layout */
  main {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  
  .button-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
  }
  
  .stats-wrapper {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
  
  .game-state-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 10px;
    height: 400px;
    background-color: white;
    border: 10px dashed black;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* button styling*/
  button {
    padding: 1.5rem;
    line-height: 1em;
    font-size: 1.5rem;
  
    border: 0;
    border-radius: 0.5rem;
    
    color: white;
    background-color: #333;
    transition: background-color 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  button:hover {
    background-color: #444;
  }
  
  button:active {
    background-color: black;
  }

  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  
  /* images */
  .game-graphic {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-height: 32vmin;
    margin-bottom: 32px;
  }
  
  .hidden {
    display: none;
  }
  
#restart {
  margin-top: 20px;
}

#message {
 margin-top: 20px;
 width: 100%;
 text-align: center;
 z-index: 2;
}

.instructions {
  width: 100%;
  line-height: 1.6;
  text-align: center;
}

.instructions ul{
  list-style-type: none;
}

